{% extends "mother.html" %}
{% block title %}Ratrace Strona główna{% endblock %}
{% block body_up %}


{% for mesg in get_flashed_messages() %}
<h1>{{ mesg }}</h1>
{% endfor %}


<div class="container">

    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-10" style="text-align: center;">
        <h1>RatRace game</h1>
        
        <h2>Gra rozpocznie się za:<br><br>
        
      
        </h2>
        
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>
  
  <div class="zegar"></div>
  <script>
      const element = document.querySelector(".zegar");

      function lz(i) {
          return `${i}`.padStart(2, "0");
      }


      function calculateTimeDifference({year, month, day, hour = 0, minutes = 0, seconds = 0}) {
          const now = new Date();
      
          //rok, miesiąc, dzień, godzina, minuta
          const importantDate = new Date(year, month-1, day, hour, minutes, seconds);
          const msInADay = 24 * 60 * 60 * 1000; //1 dzień w milisekundach - to w nich przecież zwracany czas metodą getTime
      
          const timeDifference = (importantDate.getTime() - now.getTime());
      
          const endTime = timeDifference < 0; //czy koniec odliczania
      
          const eDaysToDate = timeDifference / msInADay;
          const daysToDate = Math.floor(eDaysToDate);
      
          //musimy tutaj sprawdzić, czy powyższa zmienna nie jest 0,
          //bo inaczej poniżej byśmy mieli dzielenie przez 0
          let daysToDateFix = (daysToDate < 1)? 1 : daysToDate;
      
          const eHoursToDate = (eDaysToDate % daysToDateFix)*24;
          const hoursToDate = Math.floor(eHoursToDate);
      
          const eMinutesToDate = (eHoursToDate - hoursToDate)*60;
          const minutesToDate = Math.floor(eMinutesToDate);
      
          const eSecondsToDate = Math.floor((eMinutesToDate - minutesToDate)*60);
          const secondsToDate = Math.floor(eSecondsToDate);
      
          return {
              days : daysToDate,
              hours : hoursToDate,
              minutes : minutesToDate,
              seconds : secondsToDate,
              endTime
          }
      }

      //funkcja korzystając z powyższej funkcji pokaże na stronie odpowiedni tekst
      function showTimer(date) {
          const dateParts = date.split("-");
          if (dateParts.length === 1) return;
      
          //zakładam że format daty to "2021-10-24-23-01". Ewentualnie można łatwo zmienić na inny
          const [year, month, day, hour = 0, minutes = 0, seconds = 0] = dateParts;
      
          //przekazuję do funkcji calculateTimeDifference powyższe dane
          const timeDiff = calculateTimeDifference({ year, month, day, hour, minutes, seconds });
      
          {
              //a następnie wyciągam z tego co zwraca odpowiednie rzeczy
              const {days, hours, minutes, seconds, endTime} = timeDiff;
          
              if (!endTime) {
                  element.innerHTML = `
                      Do rozpoczęcia gry pozostało pozostało:<br>
                      <b>${days} dni
                      ${hours} godzin
                      ${minutes} minut i
                      ${lz(seconds)} sekund</b>
                  `;
                      
                  setTimeout(() => showTimer(date), 1000);
              } else {
                  element.innerHTML = `Ważna data upłynęła`;
              }
          }
      }

      showTimer("2024-03-24-18-01");

      // (Komentarz nr.3) Fukcja powinna pobierać żadaną datę z BD, oraz wyświetlać lokalizację która też jest w bazie danych
  </script>
{% endblock %}

{% block body_down %}

{% endblock %}