{% extends "mother.html" %}
{% block title %}Ratrace Strona główna{% endblock %}
{% block body_up %}


{% for mesg in get_flashed_messages() %}
<h1>{{ mesg }}</h1>
{% endfor %}


<div class="container">

    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-10" style="text-align: center;">
        <h1>RatRace game</h1>
        
        <h2>Gra rozpocznie się za:<br><br>
        
        {{ times }}
        </h2>
        <br>
        <h2>Aktualny czas:</h2>
          <h3 class="actual_time"></h3>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>
  <script>
    function timer() {
      let date = new Date();
      let hour = date.getHours();
      let min = date.getMinutes();
      let sec = date.getSeconds();
      let now = ""+hour+
      ((min<10)?":0":":")+min+
      ((sec<10)?":0":":")+sec;
      document.getElementById("f1").time.value = now;
      setTimeout("timer()", 1000);
    }
    timer();
    </script>
{% endblock %}

{% block body_down %}

{% endblock %}