{% extends "mother.html" %} 

{% block title %}
Login
{% endblock %} 



{% block body_up %}

{% for mesg in get_flashed_messages() %}
{{ mesg }}
{% endfor %}


    <div class="container" align="row d-flex justify-content-center">
        <form method="POST" action={{ url_for('login') }}>
            <div class="uform-row">
                <div="col-5 h1">Zaloguj się do aplikacji</div>
            </div><br>

            <div class="row mt-3">
                <div class="input-group"><label for="user_name">Nazwa użytkownika</label></div>
                <div class="col-4">
                    <input type="text" id="user_name" class="form-control" name="user_name" placeholder="Robercik123">
                    <div class="form-text text-muted">
                        <h5>Wpisz swój Nick do aplikacji</h5>
                      </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="input-group"><label for="user_pas">Hasło</label></div>
                <div class="col-4">
                    <input type="password" id="user_pass" name="user_pass" class="form-control" aria-describedby="passwordHelpBlock" placeholder="***">
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        <h5>Hasło musi być w zakresie 8-20 znaków, oraz zawierać litery i liczby</h5>
                      </small>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2"></div>
                <div class="col-4"><input type="submit" value="Zaloguj" class="btn btn-primary"></div>
            </div>
        </form>
    </div>



{% endblock %}