{% extends "mother.html" %} 

{% block title %}
Zarejestruj
{% endblock %} 


{% block body_up %}

{% for mesg in get_flashed_messages() %}
{{ mesg }}
{% endfor %}

<div class="container" align="row d-flex justify-content-center">
    

    <form id="user_form" action="{{ url_for('register') }}" method="POST">

        <div class="form-row">
            <div class="input-group">Nowy użytkownik</div>
        </div><br>

        <div class="row mt-3">
            <div class="input-group"><label for="user_name">Nazwa użytkownika</label></div>
            <div class="col-4">
                <input type="text" id="user_name" name="user_name" value="{{ user.user_name }}" class="form-control"><br>
            </div>
        </div>

        <div class="row mt-3">
            <div class="input-group"><label for="email">Email</label></div>
            <div class="col-4">
                <input type="text" id="email" name="email" value="{{ user.email }}" class="form-control"><br>
            </div>
        </div>

        <div class="row mt-3">
            <div class="input-group"><label for="user_pass">Hasło</label></div>
            <div class="col-4">
                <input type="password" id="user_pass" name="user_pass" class="form-control"><br>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-2"></div>
            <div class="col-4"><input type="submit" value="Zarejestruj" class="btn btn-primary"></div>
        </div>
    </form>
</div>




{% endblock %}