{% extends "mother.html" %}

{% block body_up %}

<div class="container">

    <div class="row">
      <div class="col">
        
      </div>
      <div class="col-10" style="text-align: center;">
        <h1>Zasady zabawy</h1>
        
        <h4>RatRace  jest to świetna zabawa gdzie możesz zdobyć prawdziwe nagrody i dobrze się bawić .
            Wystarczy wykupić dostęp do ukrytej lokalizacji a będziesz w stanie uzyskać dostęp do lokalizacji, w której znajduje się skarb.
            Gra Ratrace staruje raz w miesiącu, na stronie głównej zawsze zostaje podana data zabawy.
            Uczestnik po wykupieniu dostępu dostaje wskazówki wraz z przybliżoną lokalizacją.
            Z biegiem czasu lokalizacja się zawęża i dostajesz coraz to szczegółowe informacje o dostępie do skarbu.
            Osoba która jako pierwsza dotrze do skarbu staje się jego właścicielem.
            Aby poinformować innych uczestników o znalezieniu nagrody zaznacza to w aplikacji.
            Na koniec każdy uczestnik dostaje lokalizację, gdzie był ukryty skarb.
            
            
            </h4>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>
{% endblock %}
